Import Libraries and variables

In [23]:
import pandas as pd

df=pd.read_csv("./datasets/all_vehicles.csv")

noise_words=["brand new","b/n","brand n","brandnew","new","used","1st","1st owner","petrol","diesel","hybrid","electric","Anniversary",
"second","2nd owner","company maintained","first","owner","owners","manual","auto","automatic","m/t","a/t","mt","at",
"full option","full options","full-option","full-options","full optioned","full-option","highest spec","high spec","full spec","Pre Order","Moon Roof",
"moonroof","(brandnew)","(brand new)","(moonroof)"]

df.head()

,Manufacturer,Model,Year,Fuel Type,Price,Mileage,Average Price (0-20k km),Average Price (20k-50k km),Average Price (50k-100k km),Average Price (100k+ km),Condition
0,Audi,Q7 Platinum Edition,2025.0,Petrol,73000000,0,73000000.0,NaN,NaN,NaN,NaN
1,Audi,Q7 Quattro,2025.0,Petrol,75000000,50,75000000.0,NaN,35825000.0,25250000.0,NaN
2,Audi,A1 TFSI 25,2024.0,Petrol,15450000,3350,15650000.0,NaN,NaN,NaN,NaN
3,Audi,A3,2024.0,Petrol,24500000,7000,24000000.0,NaN,13500000.0,NaN,NaN
4,Audi,A3 S Line Highest Spec,2024.0,Petrol,25000000,300,25000000.0,NaN,NaN,NaN,NaN

In [24]:
#adding seating capacity column
col_index=df.columns.get_loc("Fuel Type")+1
df.insert(col_index,"Seating Capacity",None)

Normalization

In [25]:
#Lowercase and remove white spaces from the end and beginning
df["Model"]=df["Model"].str.lower().str.strip()

#remove noise words
for word in noise_words:
    df["Model"]=df["Model"].str.replace(word,"",regex=True)
df["Model"]=df["Model"].str.replace(r"\s+"," ",regex=True).str.strip()

df.head()

,Manufacturer,Model,Year,Fuel Type,Seating Capacity,Price,Mileage,Average Price (0-20k km),Average Price (20k-50k km),Average Price (50k-100k km),Average Price (100k+ km),Condition
0,Audi,q7 plinum edition,2025.0,Petrol,None,73000000,0,73000000.0,NaN,NaN,NaN,NaN
1,Audi,q7 qutro,2025.0,Petrol,None,75000000,50,75000000.0,NaN,35825000.0,25250000.0,NaN
2,Audi,a1 tfsi 25,2024.0,Petrol,None,15450000,3350,15650000.0,NaN,NaN,NaN,NaN
3,Audi,a3,2024.0,Petrol,None,24500000,7000,24000000.0,NaN,13500000.0,NaN,NaN
4,Audi,a3 s line,2024.0,Petrol,None,25000000,300,25000000.0,NaN,NaN,NaN,NaN

Dropping

In [26]:
df=df.drop_duplicates(subset=["Manufacturer","Model","Year"],keep="first")

df.head()

,Manufacturer,Model,Year,Fuel Type,Seating Capacity,Price,Mileage,Average Price (0-20k km),Average Price (20k-50k km),Average Price (50k-100k km),Average Price (100k+ km),Condition
0,Audi,q7 plinum edition,2025.0,Petrol,None,73000000,0,73000000.0,NaN,NaN,NaN,NaN
1,Audi,q7 qutro,2025.0,Petrol,None,75000000,50,75000000.0,NaN,35825000.0,25250000.0,NaN
2,Audi,a1 tfsi 25,2024.0,Petrol,None,15450000,3350,15650000.0,NaN,NaN,NaN,NaN
3,Audi,a3,2024.0,Petrol,None,24500000,7000,24000000.0,NaN,13500000.0,NaN,NaN
4,Audi,a3 s line,2024.0,Petrol,None,25000000,300,25000000.0,NaN,NaN,NaN,NaN

In [27]:
df.to_csv("./datasets/cleaned_vehicles.csv",index=False)
print(f"Saved {len(df)} records to cleaned_vehicles.csv")

Saved 3555 records to cleaned_vehicles.csv